
<div class="container">
  <div class="row">
    <div class="col">
      <div style="margin-top:10%">
        <button  type="button" class="btn btn-light" routerLink="/checkout/cart">Summary</button>
      </div>
    </div>
    <div class="col">

      <div style="margin-top:10%">
        <button  type="button" class="btn btn-light" routerLink="/checkout/payment">Payment</button>
      </div>
    </div>
    <div class="col">
      <div style="margin-top:10%">
        <button  type="button" class="btn btn-light" routerLink="/checkout/address">Address</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col" style="border: 1px solid black;">
      <h5> Thank You for shopping with us</h5>





    </div>

    <div class="col" style="border: 1px solid black;">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
